.video_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 0;
  top: 0;
  overflow: hidden;
}

.home_bg {
  opacity: 100%;
  transition: all 0.6s cubic-bezier(.74,2.22,.72,-0.08);
}

.invisible {
  opacity: 0%;
  transition: all 0.6s cubic-bezier(.74,2.22,.72,-0.08);
}

.vid_bg {
  z-index: -1;
}