@font-face {
    font-family: Aegithalos;
    src: url(assets/aegithalos.otf);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #b7dcc6;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-gap: 20px;
    justify-content: stretch;
    height: 1196px;
}

nav {
    background-color: red;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.title1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    top: 308px;
}

#fantasy-love {
    font-family: Aegithalos;
    font-size: 7.4em;
    font-weight: 400;
    transform: rotate(-90deg);
    white-space: nowrap;
    align-self: flex-start;
    margin-left: 16%;
    color: #ffe8e8;
}

.info1 {
    position: fixed;
    left: 610px;
    top: 174px;
}

.info-style {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 1.3em;  
    line-height: 1.1em;
    color: #ffffff;
    opacity: 50%;
    text-align: right;
    margin: 0;
}
.text-style {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 1.3em;  
    line-height: 1.1em;
    color: #ffffff;
    opacity: 50%;
    margin: 0;
}

.lyrics1 {
    grid-column: 4 / 7;
    grid-row: 2 / 8;
}

.highlight {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 1.3em;  
    line-height: 1.1em;
    color: #ffffff;
    margin: 0;
}