@font-face {
    font-family: Aegithalos;
    src: url(assets/aegithalos.otf);
}

/* fantasy love body */
body {
    background-color: #ffffff;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    height: 100vh;
    overflow-y: hidden;
}

/* numb grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-gap: 20px;
    justify-content: stretch;
    height: 106%;
    width: 100%;
    z-index: 1;
}

/* title styling & position */
.title1 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

}

#numb {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 6em;
    white-space: nowrap;
    color: #000000;
    position: absolute;
}

/* info styling */
.info1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.info-style {
    color: black;
}

/* lyric styling */

.lyrics1 {
    grid-column: 4 / 7;
    grid-row: 3 / 7;
}

.text-style {
    color: black;
}

.highlight {
    color: black;
}

/* nav styling */
input[type=range].styled-slider {
    filter: drop-shadow(2px 1px 4px #c4c4c4);
  }