@font-face {
    font-family: Aegithalos;
    src: url(assets/aegithalos.otf);
}

body::-webkit-scrollbar {
    display: none;
}

.grid-fixed {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-gap: 20px;
    justify-content: stretch;
    height: 104%;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 1;
}

/* nav styling */

nav {
    grid-column: 3 / 5;
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type=range].styled-slider {
    height: 2.2em;
    -webkit-appearance: none;
    background-color: transparent;
    filter: drop-shadow(2px 1px 4px #a2c4b0);
  }
  
input[type=range].styled-slider:focus {
outline: none;
}

input[type=range].styled-slider::-webkit-slider-thumb {
-webkit-appearance: none;
width: 2em;
height: 2em;
border-radius: 1em;
background: #FFFFFF;
border: none;
margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
height: 1em;
border-radius: 0.5em;
background: linear-gradient(to right, #F5F5F5, #B7DCC6);
box-shadow: none;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
background: linear-gradient(to right, #ebebeb, #B7DCC6);
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
background: linear-gradient(to right, #F5F5F5, #B7DCC6);
}

.styled-slider {
    margin-top: 4%;
}

/* info & text styling */
.info-style {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 1.3em;  
    line-height: 1.1em;
    color: #ffffff;
    opacity: 50%;
    text-align: right;
    margin: 0;
}

.text-style {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 1.3em;  
    line-height: 1.1em;
    color: #ffffff;
    opacity: 50%;
    margin: 0;
}

/* lyric styling */
.highlight {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 450;
    font-size: 1.3em;  
    line-height: 1.1em;
    color: #ffffff;
    margin: 0;
}